* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #111827;
  text-decoration: none;
  text-align: center;
  cursor: default;
  color: #00cba9;
}

h3 {
  margin: 0.5rem;
}

a {
  text-decoration: none;
  color: #00cba9;
}

a:hover {
  font-size: 17px;
  transition: 0.4s;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 0% 40% 0% 40%;
  margin-bottom: 2rem;
}

.svg1 {
  position: relative;
  top: 0;
}
.svg2 {
  position: relative;
  bottom: 0;
}

.inside {
  font-size: 16px;
  margin: 1rem;
}

#where-at {
  letter-spacing: 3px;
  margin: 1rem;
}

#contact-twitter {
  font-size: 30px;
  text-align: center;
  color: #00cba9;
  margin: 0.5rem;
}

#contact-discord {
  font-size: 28px;
  text-align: center;
  color: #00cba9;
  margin: 0.5rem;
}

#contact-mail {
  font-size: 29px;
  text-align: center;
  margin: 0.5rem;
}

#contact-github {
  font-size: 30px;
  text-align: center;
  margin: 0.5rem;
}

#contact-mail:hover,
#contact-github:hover,
#contact-discord:hover,
#contact-twitter:hover {
  font-size: 35px;
  transition: 0.3s;
}

#fill {
  text-align: center;
  font-size: 18px;
  padding: 0.5rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #work,
  #skills,
  #languages {
    font-size: 20px;
  }
  .inside {
    font-size: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  #work,
  #skills,
  #languages {
    font-size: 16px;
  }
  .inside {
    font-size: 13px;
  }

  span {
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
  #contact-discord,
  #contact-github,
  #contact-twitter,
  #contact-mail {
    font-size: 25px;
  }

  #contact-twitter:hover,
  #contact-discord:hover,
  #contact-mail:hover,
  #contact-github:hover {
    font-size: 30px;
  }
  img {
    width: 140px;
    height: 140px;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2560) {
  h3 {
    font-size: 35px;
    white-space: nowrap;
  }

  img {
    width: 350px;
    height: 350px;
  }
  #contact-mail {
    font-size: 45px;
  }
  #contact-github {
    font-size: 45px;
  }
  #contact-twitter {
    font-size: 45px;
  }

  #contact-discord {
    font-size: 43px;
  }

  #contact-twitter:hover,
  #contact-discord:hover,
  #contact-github:hover,
  #contact-mail:hover {
    font-size: 50px;
  }

  #work,
  #skills,
  #languages {
    font-size: 35px;
  }

  .inside {
    font-size: 30px;
  }
  #about-me {
    font-size: 30px;
  }
}
