body {
  font-family: "Ubuntu", sans-serif;
  background-color: white;
  text-decoration: none;
  text-align: center;
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 3px 5px 5px 0px gray;
}

.inside {
  font-size: 18px;
}

#where-at {
  letter-spacing: 3px;
}

#contact-twitter {
  font-size: 30px;
  text-align: center;
  color: #6cadde;
}

#contact-discord {
  font-size: 28px;
  text-align: center;
  color: #738adb;
}

#contact-mail {
  font-size: 29px;
  text-align: center;
}

#contact-github {
  font-size: 30px;
  text-align: center;
}

#contact-mail:hover,
#contact-github:hover,
#contact-discord:hover,
#contact-twitter:hover {
  cursor: pointer;
  font-size: 35px;
}
#list:hover,
#firefox:hover,
#chrome:hover,
#aquilla:hover,
#rps:hover,
#rtd:hover,
#discode:hover {
  text-decoration: underline;
}

#fill {
  text-align: center;
  font-size: 15px;
  color: black;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #work,
  #skills,
  #languages {
    font-size: 20px;
  }
  .inside {
    font-size: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  #work,
  #skills,
  #languages {
    font-size: 25px;
  }

  #contact {
    font-size: 30px;
  }

  #contact-twitter:hover,
  #contact-discord:hover,
  #contact:hover {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2560) {
  h1 {
    font-size: 50px;
    white-space: nowrap;
  }

  h3 {
    font-size: 35px;
    white-space: nowrap;
  }

  h5 {
    font-size: 30px;
    white-space: nowrap;
  }

  img {
    width: 350px;
    height: 350px;
  }
  #contact-mail {
    font-size: 45px;
  }
  #contact-github {
    font-size: 45px;
  }
  #contact-twitter {
    font-size: 45px;
  }

  #contact-discord {
    font-size: 43px;
  }

  #contact-twitter:hover,
  #contact-discord:hover,
  #contact-github:hover,
  #contact-mail:hover {
    font-size: 50px;
  }

  #work,
  #skills,
  #languages {
    font-size: 35px;
  }

  .inside {
    font-size: 30px;
  }
  #about-me {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1440px) {
  img {
    width: 200px;
    height: 200px;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  h5 {
    font-size: 15px;
  }

  #work,
  #skills,
  #languages {
    font-size: 20px;
  }

  .inside {
    font-size: 15px;
  }
  #about-me {
    font-size: 15px;
  }
  #contact {
    font-size: 30px;
  }
  #contact:hover {
    font-size: 35px;
  }
}
