
body {
	font-family: courier, monospace;
	color: #fff;
	font-size: 14px;
	margin-top: 30px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #000;
}

a:link,
a:visited {
	color: red;
}

span {
	text-align: center;
	display: block;
	white-space: pre-wrap;
}

img {
	border-radius: 50%;
	margin: auto;
	display: block
}

.hidden {
	display: none;
}


