h1{
	text-align:center;
	font-size:75px;
	font-family:monospace
}

img{
	border-radius: 50%;
	margin:auto;
	display: block
}

p{
	text-align:center;
	font-size:30px;
    font-family:monospace
}

.centriraj{
    text-align:center;
	font-size:20px
}

button{
	background-color:rgb(36, 137, 196);
	border-radius:5px;
	cursor:pointer;
	color:white;
	width:75px;
    font-size: 15px;
	height:50px;
}
