body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}

a:link,
a:visited {
	color: red;
}

*{
	margin: 0;
	padding: 0;
}

canvas{
    display: block;
    width: 100%;
    height: 100%;
	z-index: -1;
	position: fixed;
}
.pasus{
    text-align: center;
	font-size: 20px;
    font-family: monospace
}

/* ------------ container ------------ */
.container{
    padding:50px;
    width:380px;
    margin:0 auto;
}

/* ------------ header ------------ */
.header{
    width: 380px;
    height:200px;
    background-image: url('../picture/todolist.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #333;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ content ------------ */
.content{
    width:380px;
    height: 350px;
    max-height:350px;
    background-color: #fff;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{ 
    width:380px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.button{
    position: absolute;
    border: 1px solid #4162f6;;
	background: #fff;
	padding: 10px;
	font-size: 27px;
	cursor: pointer;
	margin:0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 30px;
	transition: 0.8s;
	overflow: hidden;
	font-family: 'Titillium Web', sans-serif;
    color: #4162f6;
}
.button::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #4162f6;
	z-index: -1;
	transition: 0.8s;
	overflow: hidden;
}
.button:hover{
    border: 1px solid #fff;
	color: #fff;;
}
.button:hover::before{
	height: 180%;
}
.button1::before{
    top: 0;
	border-radius: 0 0 50% 50%;
	height: 0%;
}

.btn {
    margin-left: 10px;
    background-color: #fff;
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
.item p.text{
    position: relative;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    color: #333;
    background-color: #FFF;
    max-width:285px;
    word-wrap:break-word;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    background-color: #FFF;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.add-to-do i{
    font-size: 40px;
    color: #4162f6;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}




























