body {
	color: #fff;
	text-shadow: 1px 1px #6232ff;
	font-family: Bookman;
	background: black;
	margin: 0;
	padding: 0;
	text-align: center;
}
h1{
	font-family: Verdana;
	margin-top: 0px;
	text-shadow: 2px 2px black;
	color: #fff;
	font-size: 300%
}
h2{
	color: #fff;
	font-size: 250%;
	margin-top: 30px;
}

iframe{
	border: 0;
	height: 500px;
}

img{
	border-radius: 50%;
	margin: auto;
	display: block
}
canvas{
    display: block;
    width: 100%;
    height: 100%;
	z-index: -1;
	position: fixed;
}

.h2{
	display: inline-block;
	color: #fff;
	text-shadow: 1px 1px #6232ff;
	font-size: 175%;
	text-decoration: none;
}

.h2:hover{ color: #6232ff;
	text-shadow: 1px 1px white;
}


.btn{
	border: 1px solid #6232ff;
	background: none;
	padding: 10px;
	font-size: 30px;
	cursor: pointer;
	margin: 5px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
	font-family: Bookman;
	text-shadow: 2px 2px #6232ff;
}

.btn1, .btn2{
	color: #fff;
}
.btn3, .btn4{
	color: #fff;
}
.btn1:hover, .btn2:hover{
	color: #fff;
	text-shadow: 2px 2px black;
}
.btn3:hover, .btn4:hover{
	color: #fff;
	text-shadow: 2px 2px black;
}
.btn::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #6232ff;
	z-index: -1;
	transition: 0.8s;
	overflow: hidden;
}
.btn1::before, .btn3::before{
	top: 0;
	border-radius: 0 0 50% 50%;
}
.btn2::before, .btn4::before{
	bottom: 0;
	border-radius: 50% 50% 0 0 ;
}
.btn3::before, .btn4::before{
	height: 0%;
}
.btn1:hover::before, .btn2:hover::before{
	height: 180%;
}
.btn3:hover::before, .btn4:hover::before{
	height: 180%;
}

.pagebottom{
	width: 100%;
	background: #6232ff;
	background-image: linear-gradient(180deg, black, #6232ff);
	position: static;
	bottom: 0;
	text-shadow: 2px 2px #6232ff;
}

#buttonlink {
	text-decoration: none;
}

#borderbottom{
	margin-top: 25px;
	position: relative;
	width: 100%;
	height: 1px;
}

.pagebottomh2{
	font-size: 150%;
}

.instagram{
	text-align: center;
}

.instagramtext{
	display: inline-block;
	font-size: 50px;
	margin-top: 45px;
	text-shadow: 1px 1px #6232ff;
	color: #fff;
	font-family: 'Times New Roman', serif;
}

.instagramtext:hover{ color: #6232ff;
	text-shadow: 1px 1px white;
}

.borderbottominstagram{
	width: 100%;
	background: #6232ff;
	background-image: linear-gradient(180deg, black, #6232ff);
	position: static;
	bottom: 0;
	text-shadow: 2px 2px #6232ff;
}

/* AQUILLA YT EMBED LEVO/DESNO */
.carousel {
	overflow: hidden;
	max-width: 900px;
	position: relative;
	margin: 0 auto;
	border: 2px solid #6232ff;
	height: 500px;
}
  
  .carousel .carousel__item,
  .carousel .carousel__item--hidden {

	display: none;
  }
  
  .carousel .carousel__item iframe {
	max-width: 900px;
	height: 500px;
  }
  
  .carousel .carousel__item--visible {
	display: block;
	animation: fadeVisibility 0.5s;
  }
  
  .carousel .carousel__actions {
	display: flex;
	pointer-events: none;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
  }
  
  .carousel .carousel__actions button {
	pointer-events: fill;
    background-color: #6232ff;
	border-radius: 50px;
	border: 0;
	font-weight: bold;
	cursor: pointer;
	width: 40px;
	height: 40px;
  }
  
  .carousel .carousel__actions button#carousel__button--prev {
	margin-left: 20px;
	display: inline-block;
  }
  
  .carousel .carousel__actions button#carousel__button--next {
	margin-right: 20px;
	display: inline-block;
  }
  
  @keyframes fadeVisibility {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	  transform: opacity linear;
	}
  }

@media screen and (max-width: 320px){
	.h2{
		font-size: 15px;
		text-align: center;
		margin-top: 10%;
	}
	img{
		width: 140px;
		height: 130px;
	}
	iframe{
		width: 100%;
	}
	.carousel{
		width: 90%;
		height: 450px;
		margin-top: 15%
	}
	.pagebottomh2{
		font-size: 15px;
	}
	.pagebottom{
		margin-top: 10%;
		margin-bottom: 0%;
	}
	
}

@media screen and (max-width: 375px){
	.h2{
		font-size: 20px;
	}

	img{
		width: 160px;
		height: 150px;
	}
	iframe{
		width: 100%;
	}
	.carousel{
		width: 90%;
		height: 450px;
		margin-top: 15%
	}
	.pagebottomh2{
		font-size: 15px;
	}
	.pagebottom{
		margin-top: 10%;
		margin-bottom: 0%;
	}
}

@media screen and (max-width: 425px){
	.h2{
		font-size: 20px;
	}

	img{
		width: 180px;
		height: 170px;
	}
	iframe{
		width: 100%;
	}
	.carousel{
		width: 90%;
		height: 450px;
		margin-top: 15%
	}
	.pagebottomh2{
		font-size: 15px;
	}
	.pagebottom{
		margin-top: 10%;
		margin-bottom: 0%;
	}
}

@media screen and (max-width: 768px){
	.h2{
		font-size: 20px;
	}

	img{
		width: 180px;
		height: 170px;
	}
	iframe{
		width: 100%;
	}
	.carousel{
		width: 90%;
		height: 450px;
		margin-top: 10%
	}
	.pagebottomh2{
		font-size: 20px;
	}
	.pagebottom{
		margin-top: 10%;
		margin-bottom: 0%;
	}
}

@media screen and (max-width: 1024px){
	.h2{
		font-size: 25px;
	}

	img{
		width: 180px;
		height: 170px;
	}
	iframe{
		width: 100%;
	}
	.carousel{
		width: 90%;
		height: 450px;
		margin-top: 8%
	}
	.pagebottomh2{
		font-size: 25px;
	}
	.pagebottom{
		margin-top: 10%;
		margin-bottom: 0%;
	}
}

@media screen and (max-width: 1024px){
	.h2{
		font-size: 25px;
	}

	img{
		width: 180px;
		height: 170px;
	}
	iframe{
		width: 100%;
	}
	.carousel{
		width: 90%;
		height: 450px;
		margin-top: 8%
	}
	.pagebottomh2{
		font-size: 25px;
	}
	.pagebottom{
		margin-top: 10%;
		margin-bottom: 0%;
	}
}


